.close{
    border: none;
    background: none;
}
li{
    list-style-type: none;
    width: 100%;
    margin: 10px;
    padding: 0px;
}
li:hover .close{
    display: block;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    padding: 4px;
}
h1{
    color: rgb(225, 173, 1);
    text-align: center;
    font-weight: lighter;
    font-size: 69px;
}
.container{
    border: none;
    width: 600px;
    margin: auto;
    padding: 20px 40px 20px 40px;
    background-color: rgb(225, 173, 1);
}
input {
    border: none;
    font-size: 16px;
    width: 100%;
    margin: 10px;
}
input:focus {
    outline: none;
}
body{
    background-color: rgb(87, 144, 41);
}
#itemsLeft{
    font-size: 12px;
}
.rmvAll {
  padding: 7px;
  border: none;
  color: white;
  background-color: #3e363f;
  border-radius: 7px;
  font-weight: bold;
  font-size: 10px;
}

/* 
    You can write your own styles here...
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    import 'relative/path/to/stylesheet.scss';
*/
